body{
    margin:0;
    padding:0;
    text-align: center;
    background:url("drum.jpg");
}   
.title{
    color:aqua;
    font-size: 80px;
}
.key {
    border: .4rem solid aqua;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all 0.7;
    width: 10rem;
    color: aqua;
    background: rgba(112, 88, 196, 0.4);
    text-shadow: 0 0 .5rem aqua;
  }

  .keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }

  .playing {
    transform: scale(1.1);
    border-color: #15ff00;
    box-shadow: 0 0 1rem #15ff00;
    
  }
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: aqua;
  }